repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: debug-statements

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort
        args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
        - id: flake8
          additional_dependencies:
            [
              flake8-pyproject,
              flake8-bugbear,
            ]
          args: [ "--exclude=venv,.venv,__pycache__,.git" ]

exclude: |
   (?x)(
        ^fastapi-application/api/api_v1/__init__.py
    )
